@import "bootstrap-sprockets";
@import "bootstrap";

.bug_header {
  margin-bottom: 5em;
}

.ticket_number {
  margin-bottom: 2em;
  margin-right: 2em;
}

.bug_actions {

}

.score {
  float: right;
}